---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/mentions_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="T7ZHfebL9EjKshL9Qu4NQ", oauth_nonce="012184c3128e436e5c16a83431fbf7f6",
        oauth_signature="kUZfkzMwgWiQ%2F4CIt8198wrh4o8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1444354728", oauth_token="628602626-3qL6L7NeMaNQJQpMyoqgypFtc8M2lwS99K1C0ynf",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 09 Oct 2015 01:38:47 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 5e21cf6d3d496530ec53bb38ee31110e
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1444355627'
      X-Response-Time:
      - '60'
      X-Transaction:
      - 40442357f8ef6bb1
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Wed Oct 07 18:32:05 +0000 2015","id":651827352247275520,"id_str":"651827352247275520","text":"Great
        Padrino + Angular tutorial from @bpark0! https:\/\/t.co\/1jWLg1w9pk","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":112162042,"id_str":"112162042","name":"Padrino
        Framework","screen_name":"padrinorb","location":"San Francisco","description":"Padrino
        is a powerful full-featured ruby framework built on top of the Sinatra.","url":"http:\/\/t.co\/U8HVfjD5vn","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/U8HVfjD5vn","expanded_url":"http:\/\/www.padrinorb.com","display_url":"padrinorb.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1234,"friends_count":7,"listed_count":109,"created_at":"Sun
        Feb 07 13:08:17 +0000 2010","favourites_count":155,"utc_offset":-7200,"time_zone":"Greenland","geo_enabled":true,"verified":false,"statuses_count":1450,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"6B6B6B","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/3414586661\/e488e167fe1b085db44b5407802527ff_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/3414586661\/e488e167fe1b085db44b5407802527ff_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/112162042\/1401765888","profile_link_color":"0084B4","profile_sidebar_border_color":"ABABAB","profile_sidebar_fill_color":"D1D1D1","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"quoted_status_id":651382457300729856,"quoted_status_id_str":"651382457300729856","quoted_status":{"created_at":"Tue
        Oct 06 13:04:14 +0000 2015","id":651382457300729856,"id_str":"651382457300729856","text":"Tutorial:
        A Sample Todo App With Padrino and AngularJS - Part 2 http:\/\/t.co\/b9me0q9jKs","source":"\u003ca
        href=\"http:\/\/publicize.wp.com\/\" rel=\"nofollow\"\u003eWordPress.com\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,[...]
